version: '3.9'

services:
  backend:
    build:
      context: ./smartcrick_backend
      dockerfile: Dockerfile
    container_name: smartcrick-backend
    ports:
      - "9000:8000"
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./smartcrick_backend:/app
      - media_data:/app/media
    command: python manage.py runserver 0.0.0.0:8000
    restart: always

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: smartcrick-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
    restart: always

  db:
    image: postgres:15
    container_name: smartcrick-db
    environment:
      POSTGRES_DB: smartcrick_db
      POSTGRES_USER: smartcrick_user
      POSTGRES_PASSWORD: smartcrick_pass
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U smartcrick_user -d smartcrick_db"]
      interval: 5s
      retries: 5
      timeout: 5s
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    restart: always

volumes:
  postgres_data:
  media_data:
