.auth-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-box {
  background: white;
  padding: 30px;
  width: 350px;
  border-radius: 10px;
}

.auth-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
}

.success {
  color: green;
}

.error {
  color: red;
}
